body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.dashboard {
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 200px 1fr;
    height: 100vh;
}

header {
    grid-column: span 2;
    background-color:goldenrod;
    color: black;
    padding: 10px;
    text-align: center;
}

nav {
    background-color:lightseagreen;
    color:green;
    padding: 10px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    margin: 10px 0;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    display: block;
    padding: 5px;
    border-radius: 3px;
}

nav ul li a:hover {
    background-color: #555;
}

main {
    padding: 20px;
    overflow-y: auto;
}

section {
    margin-bottom: 20px;
}

.stats {
    display: flex;
    justify-content: space-around;
}

.stat {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    width: 30%;
}

.stat h3 {
    margin: 0;
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

footer {
    grid-column: span 2;
    background-color:aqua;
    color:darkblue;
    text-align: center;
    padding: 10px;
}
